{% macro project_details_report(project_title, validation_date, submission_dir, consent_statement_required, vcf_fasta_analysis_mapping) -%}
    <div class="report-section info">
          {% if project_title %}
             <p><b>Project Title:</b> {{ project_title }}</p>
         {% else %}
             <p><b>Project Title:</b> Not Found</p>
         {% endif %}
        <p><b>Validation Date:</b> {{ validation_date }}</p>
        <p><b>Submission Directory:</b> {{ submission_dir }}</p>
        {% if consent_statement_required %}
        <br>
        <p><b>Note for human genotype data:</b></p> <p>You will need to provide a signed copy of our <a href="https://docs.google.com/document/d/1UaRmimAe919IZYIH55mDXMe-4sHsRVqaP4moqx2IYE4" target="_blank">Consent Statement</a> via email to <a href="mailto:eva-helpdesk@ebi.ac.uk">eva-helpdesk@ebi.ac.uk</a> after submission.
            Your submission will only be processed after receiving the consent statement.</p>
        {% endif %}
    </div>

    {% if vcf_fasta_analysis_mapping %}
        {% set row_class = "report-section info collapsible" %}
        {% set expand_icon = "&#9654;" %}
        <div class='{{ row_class }}'><span class="expand_icon">{{ expand_icon }}</span> Files mapping</div>
            <div class="no-show">
                <table>
                    <tr>
                        <th><strong>VCF File</strong></th>
                        <th><strong>Fasta File</strong></th>
                        <th><strong>Analysis</strong></th>
                    </tr>
                    {% for mapping in vcf_fasta_analysis_mapping %}
                    <tr>
                        <td>{{ mapping.vcf_file }}</td>
                        <td>{{ mapping.fasta_file }}</td>
                        <td>{{ mapping.analysis }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}



{%- endmacro %}